<div>
    <div class="form-div">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
            <div>
                <input hidden type="text" class="form-control" id="userId" formControlName="userId"
                        name="userId">
            </div>
            <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">First name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" required formControlName="firstName"
                        name="firstName" [ngClass]="{ 'is-invalid': submitted &amp;&amp; userForm.controls.employeeId.errors.required }">
                </div>
                <div *ngIf="submitted &amp;&amp; userForm.controls.firstName.errors" class="text-danger">
                    <div *ngIf="userForm.controls.firstName.errors.required">First Name is required</div>
                </div>
            </div>

            <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" required formControlName="lastName"
                        name="lastName" [ngClass]="{ 'is-invalid': submitted &amp;&amp; userForm.controls.employeeId.errors.required }">
                </div>
                <div *ngIf="submitted &amp;&amp; userForm.controls.lastName.errors" class="text-danger">
                    <div *ngIf="userForm.controls.lastName.errors.required">Last Name is required</div>
                </div>
            </div>

            <div class="form-group row">
                <label for="employeeId" class="col-sm-2 col-form-label">Employee Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="employeeId" required formControlName="employeeId"
                        name="employeeId" [ngClass]="{ 'is-invalid': submitted &amp;&amp; userForm.controls.employeeId.errors.required }">
                </div>
                <div *ngIf="submitted &amp;&amp; userForm.controls.employeeId.errors" class="text-danger">
                    <div *ngIf="userForm.controls.employeeId.errors.required">Employee Id is required</div>
                </div>
            </div>

            <div class="form-group row">
                <label for="projectId" class="col-sm-2 col-form-label">Project Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="projectId" required formControlName="projectId"
                        name="projectId" [ngClass]="{ 'is-invalid': submitted &amp;&amp; userForm.controls.projectId.errors.required }">
                </div>
                <div *ngIf="submitted &amp;&amp; userForm.controls.projectId.errors" class="text-danger">
                    <div *ngIf="userForm.controls.projectId.errors.required">Project Id is required</div>
                </div>
            </div>

            <div class="form-group row">
                <label for="taskId" class="col-sm-2 col-form-label">Task Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="taskId" required formControlName="taskId"
                        name="projectId" [ngClass]="{ 'is-invalid': submitted &amp;&amp; userForm.controls.taskId.errors.required }">
                </div>
                <div *ngIf="submitted &amp;&amp; userForm.controls.taskId.errors" class="text-danger">
                    <div *ngIf="userForm.controls.taskId.errors.required">Task Id is required</div>
                </div>
            </div>

            <div class="col-xs-4 text-right">
                <button type="submit" class="form-group btn btn-success addEdit">{{submitButtonText}}</button>
                <button (click)="resetForm()" ontype="submit" class="form-group btn btn-success">Reset</button>
            </div>
        </form>
    </div>
    <div class="panel-body">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <div class="form-row">
                        <div class="col">
                            <input class="col-sm-4 form-control searchUser" type="text" id="searchUser" required [(ngModel)]="searchUser" name="searchUser" placeholder="Search..">
                        </div>
                    </div>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of filteredUsers| async">
                    <td>
                        <input class="form-control" type="text" [(ngModel)]="user.firstName" readonly>
                        <input class="form-control" type="text" [(ngModel)]="user.lastName" readonly>
                        <input class="form-control" type="text" [(ngModel)]="user.employeeId" readonly>
                    </td>
                    <td>
                        <button (click)="updateUser(user.userId)" class="btn btn-info">Edit</button>
                        <button (click)="deleteUser(user.userId)" class="btn btn-danger"
                            style="margin-left: 10px">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>