<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="addUser" class="nav-link" routerLinkActive="active">Add User</a>
    </li>
    <li class="nav-item">
      <a routerLink="addProject" class="nav-link" routerLinkActive="active">Add Project</a>
    </li>
    <li class="nav-item">
      <a routerLink="addTask" class="nav-link" routerLinkActive="active">Add Task</a>
    </li>
    <li class="nav-item">
      <a routerLink="tasks" class="nav-link" routerLinkActive="active">View Task</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
